@import 'primeicons/primeicons.css';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.airport-plane-marker {
    background: transparent;
    border: 0;
}

// No Browser-Focusborder (SVG-Bounding-Box) for clicking on a connection line
.connection-line {
    outline: none;

    &:focus,
    &:focus-visible {
        outline: none;
    }
}

body {
    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        sans-serif;
    background: #121212;
}
